# Etapa 3: Análisis de datos utilizando SQL


## Objetivos

En esta práctica subiremos los datos a una base de datos SQL y realizaremos diferentes queries para obtener información sobre los datos

In [ ]:
!pip install sqlalchemy==1.4.6 --quiet
import pandas as pd
import numpy as np
!pip install PyMySQL --quiet
import pymysql as pymsql
!pip install mysql-connector --quiet
import mysql.connector
from sqlalchemy import create_engine
!pip install sqlalchemy-utils --quiet
from sqlalchemy_utils import database_exists, create_database
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.5/1.5 MB 11.4 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.8/43.8 KB 1.6 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.9/11.9 MB 48.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
  Building wheel for mysql-connector (setup.py) ... done
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 92.5/92.5 KB 3.2 MB/s eta 0:00:00


### Tarea 1: Subir los datos a la base de datos:

Primero cargamos el archivo de datos `dataset_part_2.csv`.

In [ ]:
df_path = "dataset_part_2.csv"
df = pd.read_csv(df_path)

In [ ]:
#Rellena la siguiente variable con tu nombre y apellido (Todo junto y sin espacios). 
nombreBD = 'juanmicaballero'
linkConexion = 'mysql+mysqlconnector://alumno:385bd4cf713a8a36@13.39.109.107/' + nombreBD         #copio la IP y añado phpmyadmin usuario= alumno y contraseña = 385bd4cf713a8a36
#Establecemos la conexión
engine = create_engine(linkConexion)

In [ ]:
if not database_exists(engine.url):
    create_database(engine.url)

In [ ]:
# Añadir el dataframe a sql SPACEXTBL usando la función to_sql().

df.to_sql("SPACEXTBL", con = engine, if_exists="replace")

In [ ]:
query = """select * from SPACEXTBL;"""
df  = pd.read_sql(query, con = engine )
df

,index,FlightNumber,Date,BoosterVersion,PayloadMass,Payload,Orbit,LaunchSite,LandingOutcome,Flights,GridFins,Reused,Legs,LandingPad,Block,Customers,Mission_Outcome,ReusedCount,Serial,Longitude,Latitude,Class
0,0,1,2010-06-04,Falcon 9,8191.07911,Dragon Qualification Unit,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SpaceX,1.0,0,B0003,-80.577366,28.561857,0
1,1,2,2012-05-22,Falcon 9,525.00000,COTS Demo Flight 2,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA(COTS),1.0,0,B0005,-80.577366,28.561857,0
2,2,3,2013-03-01,Falcon 9,677.00000,CRS-2,ISS,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA (CRS),1.0,0,B0007,-80.577366,28.561857,0
3,3,4,2013-09-29,Falcon 9,500.00000,CASSIOPE,PO,VAFB SLC 4E,False Ocean,1,0,0,0,None,1.0,MDA,1.0,0,B1003,-120.610829,34.632093,0
4,4,5,2013-12-03,Falcon 9,3170.00000,SES-8,GTO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SES,1.0,0,B1004,-80.577366,28.561857,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,163,164,2022-08-28,Falcon 9,13260.00000,Starlink 4-23 (v1.5),VLEO,KSC LC 39A,True ASDS,2,1,1,1,5e9e3033383ecb075134e7cd,5.0,SpaceX,1.0,1,B1069,-80.603956,28.608058,1
164,164,165,2022-08-31,Falcon 9,13260.00000,Starlink 3-4 (v1.5),VLEO,VAFB SLC 4E,True ASDS,7,1,1,1,5e9e3032383ecb6bb234e7ca,5.0,SpaceX,1.0,6,B1063,-120.610829,34.632093,1
165,165,166,2022-09-17,Falcon 9,13260.00000,Starlink 4-34 (v1.5),VLEO,CCSFS SLC 40,True ASDS,6,1,1,1,5e9e3033383ecbb9e534e7cc,5.0,SpaceX,1.0,5,B1067,-80.577366,28.561857,1
166,166,167,2022-09-24,Falcon 9,13260.00000,Starlink 4-35 (v1.5),VLEO,CCSFS SLC 40,True ASDS,4,1,1,1,5e9e3033383ecbb9e534e7cc,5.0,SpaceX,1.0,0,B1072,-80.577366,28.561857,1
167,167,168,2022-10-05,Falcon 9,8191.07911,Crew-5,ISS,KSC LC 39A,True ASDS,1,1,0,1,5e9e3033383ecbb9e534e7cc,5.0,NASA (CCtCap),1.0,0,B1077,-80.603956,28.608058,1

## Tarea 2: Queries con SQL

### Ejercicio 1

##### Muestra las diferentes plataformas de lanzamiento:

In [ ]:
#Rellena la variable query con tu consulta
query = """ SELECT DISTINCT LaunchSite	FROM SPACEXTBL  """
df  = pd.read_sql(query, con = engine )
df

     LaunchSite
0  CCSFS SLC 40
1   VAFB SLC 4E
2    KSC LC 39A

### Ejercicio 2

##### Muestra 5 lanzamientos cuya plataforma empiece por 'CCS'

In [ ]:
#Rellena la variable query con tu consulta
query = """ SELECT *	FROM SPACEXTBL  WHERE LaunchSite LIKE 'CCS%'  LIMIT 5 """
df  = pd.read_sql(query, con = engine )
df

,index,FlightNumber,Date,BoosterVersion,PayloadMass,Payload,Orbit,LaunchSite,LandingOutcome,Flights,GridFins,Reused,Legs,LandingPad,Block,Customers,Mission_Outcome,ReusedCount,Serial,Longitude,Latitude,Class
0,0,1,2010-06-04,Falcon 9,8191.07911,Dragon Qualification Unit,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SpaceX,1,0,B0003,-80.577366,28.561857,0
1,1,2,2012-05-22,Falcon 9,525.00000,COTS Demo Flight 2,LEO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA(COTS),1,0,B0005,-80.577366,28.561857,0
2,2,3,2013-03-01,Falcon 9,677.00000,CRS-2,ISS,CCSFS SLC 40,None None,1,0,0,0,None,1.0,NASA (CRS),1,0,B0007,-80.577366,28.561857,0
3,4,5,2013-12-03,Falcon 9,3170.00000,SES-8,GTO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,SES,1,0,B1004,-80.577366,28.561857,0
4,5,6,2014-01-06,Falcon 9,3325.00000,Thaicom 6,GTO,CCSFS SLC 40,None None,1,0,0,0,None,1.0,Thaicom,1,0,B1005,-80.577366,28.561857,0

### Ejercicio 3

##### Mustra el la masa total transportada por los lanzamientos realizados donde el cliente es NASA (CRS)

In [ ]:
query = """ SELECT SUM(PayloadMass)	FROM SPACEXTBL WHERE Customers = "NASA (CRS)"  """
df  = pd.read_sql(query, con = engine )
df

   SUM(PayloadMass)
0      77967.937329

### Ejercicio 4

##### Muestra la masa media tranportada por lanzamientos con serie que comienza por B1

In [ ]:
query = """ SELECT AVG(PayloadMass)	FROM SPACEXTBL WHERE Serial LIKE 'B1%'  """
df  = pd.read_sql(query, con = engine )
df

   AVG(PayloadMass)
0       8283.080068

### Ejercicio 5

##### Muestra la fecha donde se realizo el primer aterrizaje exitoso sobre terreno (TRUE RTLS)

*Pista:Utiliza la función min*

In [ ]:
query = """ SELECT MIN(Date)	FROM SPACEXTBL WHERE LandingOutcome = "TRUE RTLS"   """
df  = pd.read_sql(query, con = engine )
df

    MIN(Date)
0  2015-12-22

### Ejercicio 6

##### Muestra las series de los cohetes que aterrizaron sobre portaviones (TRUE ASDS) con una masa entre 4000 y 6000

In [ ]:
query = """ SELECT Serial	FROM SPACEXTBL WHERE LandingOutcome = "TRUE ASDS" AND PayloadMass BETWEEN 4000 AND 6000 """
df  = pd.read_sql(query, con = engine )
df

  Serial
0  B1022
1  B1026
2  B1021
3  B1031
4  B1046
5  B1046
6  B1059

### Ejercicio 7

##### Muestra el numero de lanzamientos que completaron su mision correctamente y aquellos que fallaron

In [ ]:
query = """ SELECT COUNT(Serial)	FROM SPACEXTBL GROUP BY Class """
df  = pd.read_sql(query, con = engine )
df

   COUNT(Serial)
0             31
1            137

### Ejercicio 8

##### Muestra las series de los cohetes que transportaron la masa máxima

In [ ]:
query = """ SELECT DISTINCT Serial 	FROM SPACEXTBL WHERE PayloadMass = 15600.0 """
df  = pd.read_sql(query, con = engine )
df

  Serial
0  B1048
1  B1049
2  B1051
3  B1056
4  B1059
5  B1060
6  B1058
7  B1063

### Ejercicio 9

##### Muestra los el resultados del aterrizaje, la serie del cohete y las plataforma de lanzamiento de aquellos lanzamientos fallidos o no intentados en el año 2015

In [ ]:
query = """ SELECT LandingOutcome, Serial, LaunchSite 	FROM SPACEXTBL  WHERE Class = 0 AND Date BETWEEN "2015-01-01" AND "2015-12-31"  """
df  = pd.read_sql(query, con = engine )
df

  LandingOutcome Serial    LaunchSite
0     False ASDS  B1012  CCSFS SLC 40
1     False ASDS  B1015  CCSFS SLC 40
2      None None  B1016  CCSFS SLC 40
3      None ASDS  B1018  CCSFS SLC 40

### Ejercicio 10

##### Muestra los resultados y la frecuencia de estos resultados entre 2010-06-04 y 2017-03-20 ordenados en orden descendiente según la frecuencia

In [ ]:
query = """ SELECT LandingOutcome, COUNT(Date) 	FROM SPACEXTBL  WHERE Date BETWEEN "2010-06-04" AND "2017-03-20"  GROUP BY 1 ORDER BY 2 DESC """
df  = pd.read_sql(query, con = engine )
df

  LandingOutcome  COUNT(Date)
0      None None            9
1      True ASDS            5
2     False ASDS            4
3     True Ocean            3
4      True RTLS            3
5    False Ocean            2
6      None ASDS            2